.exchange-container {
  font-family: "Courier New", Courier, monospace;
  padding: 20px;
  /* background-color: #f8f9fa; */
  border-radius: 8px;
}

.converter {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  min-height: 30vh;
}

.converter h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.converter-input {
  border: 2px solid #333;
  border-radius: 0.3em;
  padding: 0.25rem;
  width: 10em;
}

select {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
}

.converter-row {
  display: flex;
  align-items: center; /* vertically centers input and select */
  gap: 0.5rem; /* space between input and select */
}

.exchange-title {
  text-align: center;
  margin: 25px 0;
  color: #333;
  font-weight: 600;
  font-size: 1.5rem;
}

/* Filter Input */
.filter-input {
  width: 100%;
  max-width: 400px;
  padding: 8px 12px;
  border: 1px solid gray;
  border-radius: 6px;
  font-size: 16px;
  margin-bottom: 1.5rem;
}

.exchange-loading,
.exchange-error {
  text-align: center;
  font-size: 1.1em;
  color: #666;
}

.exchange-error {
  color: red;
}

.exchange-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.exchange-table th,
.exchange-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.exchange-table th {
  background-color: #3f4041;
  color: white;
}

.exchange-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.exchange-table tr:hover {
  background-color: #e6f7ff;
}
