/* Nav Bar */
.navbar {
  background-color: #554747;
  color: #fcfcf2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.5rem;
  font-family: "Courier New", Courier, monospace;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 10;
}

body {
  margin: 0;
  padding-top: 60px;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 6;
}

.nav-links {
  display: flex;
  gap: 1.75rem;
}

.nav-links a {
  position: relative;
  display: inline-block;
  color: #fcfcf2;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 100%;
  max-width: 100%;
  background-color: #dcd0bd;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.nav-links a:hover {
  color: #dcd0bd;
}

.nav-links a:hover::after {
  transform: scaleX(1);
}

/* Hamburger Icon */
.menubutton {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.menubutton img {
  width: 30px;
  height: auto;
}

.menubutton:hover {
  background-color: #8e8467;
  border-radius: 0.5vh;
  padding: 1vh;
}

/* Responsive menu */
@media screen and (max-width: 850px) {
  .menubutton {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #433d39;
    padding: 1rem 0;
    border-top: 1vh solid #dcd0bd;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links a {
    padding: 1rem;
    width: 100%;
  }
}
