.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
}

.main-content {
  flex: 1;
  /* padding-top: 80px; */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 80px);
}
